<section class="py-4 px-3">
  <div class="container px-lg-5 py-5">
    <div class="row g-5">
      <div class="col-md-6">
        <h6 class="text-primary" data-aos="fade-right">Techno Square</h6>
        <div data-aos="fade-right" data-aos-delay="200">
          <h2>More Than Just A Coding Academy</h2>
          <hr />
        </div>
        <p class="text-muted" data-aos="fade-right" data-aos-delay="300">
          The academy is run by academic staff with extensive experience in both
          education and higher education. The trainers are passionate about
          their work and dedicated to providing the best teaching experience.
        </p>
        <div class="btns" data-aos="fade-right" data-aos-delay="400">
          <a
            routerLink="/about-us"
            class="btn btn-outline-primary px-4 rounded-5"
            >About Us</a
          >
          <a
            class="btn-social facebook"
            href="https://www.facebook.com/techno.square.pts"
          >
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a
            class="btn-social whatsapp"
            href="https://api.whatsapp.com/send?phone=201091788466&text=%20"
          >
            <fa-icon [icon]="faWhatsapp"></fa-icon>
          </a>
          <a
            class="btn-social instagram"
            href="https://www.instagram.com/techno_square_pts/?igsh=MTk5NzZiNHdweDZoaA%3D%3D"
          >
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </div>
      </div>
      <div class="col-md-6 text-center" data-aos="fade-left">
        <img
          class="img-fluid"
          src="assets/images/kid.png"
          alt="Kid Coding Illustration"
        />
      </div>
    </div>
  </div>
</section>
