<div class="container px-lg-5 py-5">
  <div class="section-heading text-center mb-5" data-aos="fade-left">
    <h1>Testimonials</h1>
    <p class="lead">
      Techno Square offers cutting-edge technology education programmes for
      students
    </p>
    <hr />
  </div>

  <!------- Slider -------->
  <div class="keen-slider" #sliderRef data-aos="fade-right">
    <!-- Slide -->
    <div class="keen-slider__slide number-slide1">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          الحمد لله احنا فرحتنا حقيقي ماتتوصفش فخورين جدا وإن شاء الله في نجاح
          مستمر يا رب شكرا لحضراتكم جميعا تعبتم ومجهودكم باين مع الاولاد
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide2">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          شكرا و الكلمه لا تكفي قدر المحبة و الامتنان لدوركم الكبير في هذا
          الانجاز.. شكرا لفهمكم العالي و فكركم الراقي وفقكم الله و نعتبر هذه
          الخطوه هي بداية للطريق
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide3">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          انتوا كل يوم بتثبتوا لينا انه اختيارنا كان صح وإنكم فعلا مكان مميز
          بالناس اللي فيه وأولادنا بيحسوا انهم في بيتهم مش مجرد اكاديمي وخلاص
          وان شاء الله مكملين معاكم المشوار ودي اكيد البدايه بس واللي جاي احلي
          وأحسن ان شاء الله
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide4">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          شكرا بجد علي اهتمامكوا بالاولاد احنا فخورين بيكوا واننا
          جزئ من تكنو سكوير
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide5">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          الفيديو حلو جدا شكرا تكنو سكوير علي تعبكم واجتهادكم مع الولاد مجهودكم
          وشطارتكم كانوا واضحين جدا يوم المسابقة الحمد لله بورسعيد محظوظة
          بوجودكم فيها
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide6">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          الفيديو حلو جدا شكرا تكنو سكوير علي تعبكم واجتهادكم مع الولاد مجهودكم
          وشطارتكم كانوا واضحين جدا يوم المسابقة الحمد لله بورسعيد محظوظة
          بوجودكم فيها
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide7">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          صباح الخير بجد جزاكم الله خيرا على اليوم الجميل قويييييي دا فعلا كتر
          خيركم بجد تعبتك قوي مع الاولاد كلنا تجبر خاطرنا وفرحنا قوييييي ومهما
          قولت مش هاوفيكم حقكم ابداااا
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide8">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          شكرا شكرا لتكنوسكوير.. شكرا لكل مبدع في هذا الصرح العلمي شكرا على
          مجهودكم المبذول بحب و تجرد و تفاني.. شكرا لكل وجه جميل كان بمثابة الاب
          و الام و الصديق لاولادي.. شكرا لهذه الايادي الرائعة التي ساندت و دعمت
          و علمت و طورت في عقول اولادنا.. شكرا للمبدعين اصحاب الفكرة و اصحاب
          التنفيذ و اصحاب الفضل.. بالتوفيق ان شاء الله و كل كلمات الشكر لا
          توفيكم حقكم
        </p>
      </div>
    </div>

    <!-- Slide -->
    <div class="keen-slider__slide number-slide9">
      <div class="bg-transparent border rounded p-4 h-100">
        <fa-icon [icon]="faQuoteLeft" class="fa-2x"></fa-icon>
        <p class="text-end">
          ميرسى على تعبكم مع الولاد بجد كان يوم جميل وانا فرحانه اني سافرت معاكم
          انا وتوماس واتعرف على ناس محترمه
        </p>
      </div>
    </div>
  </div>
</div>
