<section class="py-4 px-3">
  <div class="container px-lg-5 pb-3 mb-5">
    <div class="section-heading text-center my-3 py-3" data-aos="fade-up">
      <p class="lead d-none d-md-block">
        Jumpstart your kid’s career by choosing a course that suits them.
      </p>
      <hr />
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-5">
      @for (course of courses; track course.id) {
      <div class="col-xl-4 col-md-6" data-aos="fade-up">
        <app-course-card [course]="course"></app-course-card>
      </div>
      }
    </div>
  </div>
</section>
