<section class="py-4 mb-5 px-3" id="ach">
  <div class="container px-lg-5">
    <div class="section-heading text-center my-3 py-3" data-aos="fade-up">
      <h1 class="mt-2">Our Achievements</h1>
      <p class="lead"></p>
      <hr />
    </div>
    <div class="row g-5">
      <div class="col-xl-4 text-center" data-aos="fade-up">
        <div class="shadow rounded-3 p-3 h-100">
          <img
            class="img-fluid rounded-3"
            src="assets/images/gallery/achievements2.webp"
            alt="achievements 2"
          />
          <div class="mt-3">
            <h5 class="">AFFIAT 2024 Competition</h5>
            <h6>Robotics Carnival: 1st Place Award</h6>
          </div>
        </div>
      </div>

      <div class="col-xl-4 text-center" data-aos="fade-up" data-aos-delay="300">
        <div class="shadow rounded-3 p-3 h-100">
          <img
            class="img-fluid rounded-3"
            src="assets/images/gallery/achievements3.webp"
            alt="achievements 3"
          />
          <div class="mt-3">
            <h5 class="">AFFIAT 2024 Competition</h5>
            <h6>Game To Gain: 1st Place Award</h6>
          </div>
        </div>
      </div>

      <div class="col-xl-4 text-center" data-aos="fade-up" data-aos-delay="600">
        <div class="shadow rounded-3 p-3 h-100">
          <img
            class="img-fluid rounded-3"
            src="assets/images/gallery/achievements1.webp"
            alt="achievements 1"
          />
          <div class="my-3">
            <h5 class="">RC Egypt 2023 Competition</h5>
            <h6>Line Following: 3rd Place Award</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
