<header
  class="container-fluid pb-5 hero-header vh-90 d-flex align-items-center"
>
  <div class="container-xl pb-5 px-3">
    <div
      class="row g-5 d-flex align-items-center justify-content-center text-center"
    >
      <div class="col-xl-7 col-md-10 text-center" data-aos="fade-left">
        <h1 class="headline text-white mb-4">We Motivate .. You Innovate</h1>
        <p class="headline-text text-white mb-4">
          We teach coding, Artificial thinking and digital expression, taking
          our kids and youth step by step through STEAM and ICT education,
          programming, web design and robotics.
        </p>
        <a routerLink="/courses" class="btn-courses">Let's Go!</a>
      </div>
    </div>
  </div>
</header>
