<section class="py-4 px-3">
  <div class="container px-lg-5 py-5">
    <div class="row g-5 text-center features">
      <div class="col-md-4" data-aos="fade-up">
        <img
          class="img-fluid"
          src="assets/images/feature1.svg"
          alt="academy feature 1"
          width="125"
        />
        <h4>Improve school performance</h4>
        <p>
          Enhance academic results and enhance critical thinking through
          engaging and interactive activities.
        </p>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <img
          class="img-fluid"
          src="assets/images/feature2.svg"
          alt="academy feature 2"
          width="125"
        />
        <h4>Prepare for future professions</h4>
        <p>
          Cultivating curiosity, creativity, and critical thinking, equipping
          young minds with essential skills to thrive in future professions.
        </p>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <img
          class="img-fluid"
          src="assets/images/feature3.svg"
          alt="academy feature 3"
          width="125"
        />
        <h4>Develop universal skills</h4>
        <p>
          Fostering communication, collaboration, and problem-solving, nurturing
          well-rounded individuals equipped with universal skills for lifelong
          success.
        </p>
      </div>
    </div>
  </div>
</section>
