<app-header></app-header>
<main>
  <!-- Why Techno Square -->
  <section class="">
    <div class="tata tata-btm-deg"></div>
    <app-why-technosquare></app-why-technosquare>
  </section>

  <section class="bg-solid">
    <app-features-section></app-features-section>
  </section>

  <!-- Courses -->
  <section>
    <div class="spikes"></div>
    <div class="tata tata-btm"></div>
    <app-courses-section></app-courses-section>
  </section>

  <!-- Our Program -->
  <section class="bg-solid">
    <app-our-program></app-our-program>
  </section>

  <!-- Gallery -->
  <section>
    <div class="spikes"></div>
    <div class="tata tata-up"></div>
    <app-gallery-section></app-gallery-section>
  </section>

  <!-- Testimonials -->
  <section class="bg-section text-white">
    <app-testimonials-section></app-testimonials-section>
  </section>

  <!--  -->
  <section>
    <div class="tata tata-btm-deg"></div>
    <app-achievements></app-achievements>
  </section>
</main>
