<app-page-header></app-page-header>

<section class="py-4 px-3">
  <div class="container px-lg-5 pb-3 mb-5">
    <app-accordion></app-accordion>
  </div>
</section>

<section class="py-4 bg-solid">
  <div class="container px-lg-5 py-5 d-flex g-5 text-center">
    <div class="row g-5">
      <div class="col-md-4" data-aos="fade-up">
        <img
          class="img-fluid"
          src="assets/images/about1.svg"
          alt="academy feature 1"
          width="125"
        />
        <h3>Experienced Instructors</h3>
        <p>
          Our team of passionate educators brings years of experience in
          technology education, ensuring that each child receives personalized
          attention and guidance.
        </p>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <img
          class="img-fluid"
          src="assets/images/about2.svg"
          alt="academy feature 1"
          width="125"
        />
        <h3>Hands-On Learning</h3>
        <p>
          We believe in learning by doing. Our curriculum is designed to engage
          students through hands-on projects, encouraging them to apply
          theoretical concepts to real-world challenges.
        </p>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <img
          class="img-fluid"
          src="assets/images/about3.svg"
          alt="academy feature 1"
          width="125"
        />
        <h3>Innovative Approach</h3>
        <p>
          Techno Square Academy stays at the forefront of educational trends and
          technology advancements, constantly updating our curriculum to provide
          students with cutting-edge knowledge and skills.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="spikes"></div>

<section class="py-5 px-3">
  <div class="container px-lg-5 py-5" data-aos="fade-up">
    <div class="section-heading text-center mb-5">
      <h1>Our Team Members</h1>
      <hr class="" />
    </div>
    <div class="row g-5 text-center">
      <!-- Row - 1 - -->

      <!-- Team Card 1 -->
      <div class="col-xl-3" data-aos="fade-up">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/1.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Mohamed Yasser</h4>
        <h5>Founder</h5>
        <p>
          Academic staff member in pharmacy with a passion for connecting
          academia to real-life experiences. Author, speaker, entrepreneur and
          educator on innovative teaching.
        </p>
      </div>
      <!-- Team Card 2 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="250">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/2.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Mahmoud Elkhoudary</h4>
        <h5>Founder</h5>
        <p>
          Academic staff member in pharmacy with a passion for connecting
          academia to real-life experiences. Author, speaker, entrepreneur and
          educator on innovative teaching.
        </p>
      </div>
      <!-- Team Card 3 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="400">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/3.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Heba Hamdy</h4>
        <h6>Administrative Manager</h6>
        <p>
          Oversees the operations of the academy, Responsible for painting and
          handicrafts courses.
        </p>
      </div>
      <!-- Team Card 4 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="600">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/4.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Menna Sayed</h4>
        <h6>Social Media Account Manager</h6>
        <p>
          Responsible for Media and Making Handicrafts. Owner of Stava Brand
        </p>
      </div>

      <!-- Row - 2 - -->

      <!-- Team Card 1 -->
      <div class="col-xl-3" data-aos="fade-up">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/5.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Nourhan Elswerky</h4>
        <h6>Chemistry and Robotics Instructor</h6>
        <p>
          I have experience in training Science, coding and programming for
          kids. Responsible for Administration.
        </p>
      </div>
      <!-- Team Card 2 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="250">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/6.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Omar Zahran</h4>
        <h6>Robotics Instructor</h6>
        <p>
          Graphic Designer & Programming Instructor. Elevate your skills with
          his creative vision and technical know-how.
        </p>
      </div>
      <!-- Team Card 3 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="400">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/7.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Omar Elsaadany</h4>
        <h6>Robotics Instructor</h6>
        <p>
          Programming instructor. Learn coding with Omar's passion for teaching.
          President of Pharmacy Student Union Portsaid University.
        </p>
      </div>
      <!-- Team Card 4 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="600">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/8.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Khalid Elkhamisy</h4>
        <h6>Robotics Instructor</h6>
        <p>
          Graphic Designer & Programming Guru. Unleash creativity with his
          designs and dive deep into coding mastery.
        </p>
      </div>

      <!-- Row - 3 - -->

      <!-- Team Card 1 -->
      <div class="col-xl-3" data-aos="fade-up">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/9.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Mohaned Mohamed</h4>
        <h6>Robotics Instructor</h6>
        <p>
          Bachelor degree in electronics and communication engineering. Mentor,
          Projects consultant and executer, Academic advisors.
        </p>
      </div>
      <!-- Team Card 2 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="250">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/10.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Mena Shenouda</h4>
        <h6>Robotics Instructor</h6>
        <p>
          Programming instructor for young and adult levels, Content creator and
          believes in creating modern solutions for better education.
        </p>
      </div>
      <!-- Team Card 3 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="400">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/11.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Ahmed Elkadey</h4>
        <h6>3D Artist</h6>
        <p>
          More than 3 years of experience, I love drawing and design, and this
          is what made me love this field because it gives me the opportunity to
          be creative in it.
        </p>
      </div>
      <!-- Team Card 4 -->
      <div class="col-xl-3" data-aos="fade-up" data-aos-delay="600">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/12.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Abdelrahman Kamal</h4>
        <h6>Robotics and Gaming Instructor</h6>
        <p>
          Have a master's degree in civil engineering. Assistant lecturer at
          Horus University and have experience teaching at Techno Square
          Academy.
        </p>
      </div>

      <!-- Row - 4 - -->

      <!-- Team Card 1 -->
      <div class="col-xl-3" data-aos="fade-up">
        <img
          class="team-img img-fluid rounded-circle mb-3 border"
          src="assets/images/team/13.webp"
          alt="Team Members"
          width="230"
        />
        <h4 class="mb-1">Alaa Ashraf</h4>
        <h6>Robotics and Gaming Instructor</h6>
        <p>
          Have a bachelor's degree in electrical engineering. Demonstrator at
          Portsaid University and have experience teaching at Techno Square
          Academy.
        </p>
      </div>
    </div>
  </div>
</section>
