.form-style {
  background-color: white;
  width: 400px;
}

.form-style input {
  padding-block: 0.75rem;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ebebeb;
}
.form-style input:focus {
  border-bottom: 1px solid var(--primary);
  box-shadow: none;
  outline: 0;
  background-color: #f1f1f1;
}

button {
  padding-block: 0.75rem;
  font-size: 1.25rem;
}

.border-err {
  border-bottom: 1px solid red !important;
}

.error-message {
  padding-left: 0.5rem;
  color: red !important;
  transition: 0.5s;
}

.btn-group-container {
  padding: 0.75rem;
  border-radius: 6px;
  background: #fdfdfd;
  box-shadow: inset 5px 5px 10px rgb(201, 201, 201, 0.5),
    inset -5px -5px 10px #ffffff;
}
.btn-check-label {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
  font-family: "Montserrat", sans-serif;
}
.btn-check:checked + .btn,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-radius: 6px;
  background: linear-gradient(0deg, #f5f5f5, #f0efef);
  box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
}

.btn-check-label:hover {
  border-radius: 6px;
  background-color: red;
  background: linear-gradient(90deg, #f2f2f2, #ededed);
  box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
}
