<main class="profile-page">
  <div class="content">
    <img class="profile-img" [src]="instructor.image" alt="profile image" />
    <div class="profile-info text-center">
      <h2>{{ instructor.name }}</h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 m-auto table-responsive mt-4">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Email</th>
              <td>{{ instructor.email }}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{ instructor.phone }}</td>
            </tr>
            <tr>
              <th>City</th>
              <td>{{ instructor.city }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ instructor.address }}</td>
            </tr>
            <tr>
              <th>Date Of Birth</th>
              <td>{{ instructor.date_of_birth }}</td>
            </tr>
            <tr>
              <th>Date Of Join</th>
              <td>{{ instructor.date_of_join }}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{ instructor.gender | titlecase }}</td>
            </tr>
            <tr>
              <th>Job Type</th>
              <td>
                {{
                  instructor.job_type === "part_time"
                    ? "Part Time"
                    : "Full Time"
                }}
              </td>
            </tr>
            <tr>
              <th>Work Hours</th>
              <td>{{ instructor.work_hours }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="btn-container text-center mt-3">
      <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden>
      <button class="btn btn-primary" (click)="fileInput.click()">Upload Image</button>
    </div>
  </div>
</main>
