<div class="container px-lg-5 py-5">
  <div class="section-heading text-center mb-5" data-aos="flip-down">
    <h1>Gallery</h1>
    <p class="lead">
      Techno Square offers cutting-edge technology education programmes for
      students
    </p>
    <hr />
  </div>

  <!-- Image Gallery -->

  <div class="keen-slider" #sliderRef data-aos="fade-up">
    <div class="keen-slider__slide number-slide1">
      <div>
        <img src="assets/images/gallery/g1.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide2">
      <div>
        <img src="assets/images/gallery/g2.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide3">
      <div>
        <img src="assets/images/gallery/g3.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide4">
      <div>
        <img src="assets/images/gallery/g4.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide5">
      <div>
        <img src="assets/images/gallery/g5.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide6">
      <div>
        <img src="assets/images/gallery/g6.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide7">
      <div>
        <img src="assets/images/gallery/g7.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide8">
      <div>
        <img src="assets/images/gallery/g8.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide9">
      <div>
        <img src="assets/images/gallery/g9.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide10">
      <div>
        <img src="assets/images/gallery/g10.webp" alt="Gallery Images" />
      </div>
    </div>
  </div>
  <div class="keen-slider thumbnail" #thumbnailRef>
    <div class="keen-slider__slide number-slide1 thumb">
      <div>
        <img src="assets/images/gallery/g1.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide2 thumb">
      <div>
        <img src="assets/images/gallery/g2.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide3 thumb">
      <div>
        <img src="assets/images/gallery/g3.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide4 thumb">
      <div>
        <img src="assets/images/gallery/g4.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide5 thumb">
      <div>
        <img src="assets/images/gallery/g5.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide6 thumb">
      <div>
        <img src="assets/images/gallery/g6.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide7 thumb">
      <div>
        <img src="assets/images/gallery/g7.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide8 thumb">
      <div>
        <img src="assets/images/gallery/g8.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide9 thumb">
      <div>
        <img src="assets/images/gallery/g9.webp" alt="Gallery Images" />
      </div>
    </div>
    <div class="keen-slider__slide number-slide10 thumb">
      <div>
        <img src="assets/images/gallery/g10.webp" alt="Gallery Images" />
      </div>
    </div>
  </div>
</div>
